.course__forum__post {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  /* padding: 0.5rem; */
  /* border: 0.1rem solid #ccc; */
  /* border-radius: 0.3rem; */
  /* background-color: #fff; */
}
.course__forum__post__body {
  display: flex;
  flex-direction: column;

  /* margin: 0.5rem; */
  padding: 0.5rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.3rem;
  background-color: #fff;
}
.course__forum__post__body__title {
  font-weight: bold;
  font-size: 1rem;
}
.course__forum__post__body__desc {
  /* font-weight: bold; */
  font-size: 1rem;
}
.course__forum__post__body__info {
  font-weight: lighter;
  font-size: 0.75rem;
}
.course__forum__post__body__reply {
  /* font-size: 0.75rem; */
}
